@model List<CV_Applikation.Controllers.MessagesController.ConversationUsersViewModel>

<div class="container2">
    <div class="wrapper">
        <div class="messageHeader">
            <div class="containerMessage">
                <div class="left"></div>
                <div class="middle">
                    <h3>Theresa Hudson</h3>
                    <p>Meddelanden</p>
                </div>
                <div class="right">
                </div>
            </div>
        </div>
        <main class="mainMessage">
            <div class="col-left">
                <div class="col-content">
                    <div class="messages">
                        @foreach (var user in Model)
                        {
                            <li>
                            <div class="avatar">
                                <div class="avatar-image">
                                    <img src="@user.ImagePath">
                                </div>
                            </div>
                                <h3 class="user-item"><a href="#" data-user-id="@user.Id" data-user-name="@user.Namn">@user.Namn</a></h3>
                        </li>
                        }
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-content" id="conversationContainer">
                </div>
            </div>
            <div class="col-right">
                <div class="col-content">
                    <div class="user-panel">
                        <div class="avatar">
                            <div class="avatar-image">
                                <img src="/src/default.jpeg">
                            </div>
                            <h3>Theresa Hudson</h3>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    $(document).ready(function () {
        updateUserPanel("", "/src/default.jpeg");
        const urlParams = new URLSearchParams(window.location.search);
        const userId = urlParams.get('userId');

        if (userId) {
            loadConversation(userId);
            var userImage = $(".user-item a[data-user-id='" + userId + "']").closest("li").find(".avatar-image img").attr("src");
            var userName = $(".user-item a[data-user-id='" + userId + "']").text();
            updateUserPanel(userName, userImage);
        }

        $(".user-item a").click(function (event) {
            event.preventDefault();
            var userId = $(this).data("user-id");

            if (userId === "Anonym") {
                var userName = $(this).data("user-name");
                loadAnonymConversation(userName);
                markMessagesAsRead(userName);
            } else {
                loadConversation(userId);
                markMessagesAsRead(userId);
            }
            var userImage = $(this).closest("li").find(".avatar-image img").attr("src");
            var userName = $(this).text();
            updateUserPanel(userName, userImage);

        });

        function loadAnonymConversation(userName) {
            $.ajax({
                url: "/Messages/LoadAnonymConversation",
                type: "GET",
                data: { id: userName },
                success: function (data) {
                    $("#conversationContainer").html(data);
                },
                error: function () {
                    console.error("Error loading anonym conversation");
                }
            });
        }

        function loadConversation(userId) {
            $.ajax({
                url: "/Messages/LoadConversation",
                type: "GET",
                data: { id: userId },
                success: function (data) {
                    $("#conversationContainer").html(data);
                },
                error: function () {
                    console.error("Error loading conversation");
                }
            });
        }

        function markMessagesAsRead(avsandarNamn) {
            $.ajax({
                url: "/Messages/MarkMessagesAsRead",
                type: "POST",
                data: { avsändarNamn: avsandarNamn},
                success: function () {
                    console.log("Messages marked as read successfully");
                },
                error: function () {
                    console.error("Error marking messages as read");
                }
            });
        }
        function updateUserPanel(userName, userImage) {
            $(".col-right .avatar h3").text(userName);
            $(".col-right .avatar .avatar-image img").attr("src", userImage);
            $(".messageHeader .middle h3").text(userName);
        }
    });
</script>

