@model CV_Applikation.Controllers.MessagesController.ConversationViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<DataLager.Areas.Identity.Data.ApplicationUser> UserManager
@{

    var allMessages = Model.SentMessages.Concat(Model.ReceivedMessages).OrderBy(m => m.DatumOchTid).ToList();
    var myUserID = UserManager.GetUserId(User);

}
<div class="col-content" id="conversationContainer">

    <div class="conversation-wrapper">

        @foreach (var message in allMessages)
        {
            if (message.AvsändarId == myUserID)
            {
                <div class="message-sent">
                    <p>@message.Innehåll</p>
                </div>
            }
            else
            {
                <div class="message-received">
                    <p>@message.Innehåll</p>
                </div>
            }
        }

    </div>
    <div class="col-foot">

        <div class="compose">
            <input placeholder ="Type a message" disabled="disabled">
                
        </div>


    </div>


</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#messageInput").keypress(function (e) {
            if (e.which === 13) {
                e.preventDefault(); // Prevent the default behavior of the Enter key
                $("#sendMessageForm").submit(); // Submit the form
            }
        });
    });
</script>





