@inject Microsoft.AspNetCore.Identity.UserManager<DataLager.Areas.Identity.Data.ApplicationUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CV_Applikation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CV_Applikation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Account/Index" class="logo"><img src="~/src/logga.png"></a>
                }
                else
                {
                    <a href="/home/Index" class="logo"><img src="~/src/logga.png"></a>
                }
                <div class="search-box">
                    <img src="~/src/search.png">
                    <input type="text" placeholder="Sök" id="searchInput">
                </div>
            </div>
            <div class="navbar-center">

                <li>

                    <a href="/Identity/Account/Manage/Index"><img src="~/src/settings.svg"><span>Inställningar</span></a>
                    <a href="/Account/MyProfile"><img src="~/src/account.svg"><span>Profil</span></a>
                    <a href="/Projects/Index"><img src="~/src/projekt.svg"><span>Projekt</span></a>
                    <a href="/Messages/Index"><img src="~/src/message.svg"><span>Meddelanden</span> <div class="notification-badge" id="notificationBadge">0</div></a>
                </li>

            </div>
            <div class="nav-right">
                <partial name="_LoginPartial.cshtml" />
            </div>
    </header>

    <div id="searchResultsContainer"></div>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>







    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function (event) {
                if (event.keyCode === 13) {
                    var query = $(this).val();

                    $.get("/Search/Search", { query: query }, function (data) {
                        $("main").html(data);
                    });
                }
            });

            function updateNotificationBadge() {
                $.get("/Account/GetUnreadMessageCount", function (data) {
                    $("#notificationBadge").text(data.unreadMessageCount);
                });
            }

            $(document).ready(function () {
                updateNotificationBadge();
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

