@model List<Core.Models.CV>

<div class="container2">
    @foreach (var cv in Model)
    {
        <div class="card mb-3 projektRuta">
            <div class="row g-0">


                <div class="col-md-3 ">
                    <img src="" class="img-fluid rounded-start custom-img-size" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@($"{cv.User.Namn}s CV")</h5>
                        <a asp-controller="CV" asp-action="View" asp-route-id="@cv.User?.Id">Klicka här för att se hela...</a>
                    </div>

                </div>

            </div>
        </div>

    }

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imageUrls = [
            "/src/bakgrund1.png",
            "/src/bakgrund2.png",
            "/src/bakgrund3.png",
            "/src/bakgrund4.png",
            "/src/bakgrund5.png",
            "/src/bakgrund6.png"
        ];

        var cards = document.querySelectorAll(".custom-img-size");

        cards.forEach(function (card) {
            var randomIndex = Math.floor(Math.random() * imageUrls.length);
            var randomImageUrl = imageUrls[randomIndex];
            card.src = randomImageUrl;
        });
    });
</script>