@model List<DataLager.Models.Kompetenser>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.Namn</td>
            <td>
                <button type="button" class="btn btn-link remove-skill" data-skill-id="@item.id">
                    <i class="fa-solid fa-minus"></i>
                </button>
            </td>
           
        </tr>
    }
}

