@model CV_Applikation.Controllers.ProjectsController.ProjectViewModel

<div class="container2">

    @foreach (var user in Model.användare)
    {
        <div class="card mb-3 projektRuta">
            <div class="row g-0">


                <div class="col-md-3 ">
                    <img src="/images/cv.png" class="img-fluid rounded-start custom-img-size" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@user.Namn @user.Efternamn</h5>
                        <p class="card-text">
                            <a asp-controller="CV" asp-action="View" asp-route-id="@user.Id">Klicka här för att se hela...</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>

    }


</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imageUrls = [
            "/src/bakgrund1.png",
            "/src/bakgrund2.png",
            "/src/bakgrund3.png",
            "/src/bakgrund4.png",
            "/src/bakgrund5.png",
            "/src/bakgrund6.png"
        ];

        var cards = document.querySelectorAll(".custom-img-size");

        cards.forEach(function (card) {
            var randomIndex = Math.floor(Math.random() * imageUrls.length);
            var randomImageUrl = imageUrls[randomIndex];
            card.src = randomImageUrl;
        });
    });
</script>