@model Core.Models.CV

<div class="container2">

    <h1>Utbildning</h1>
    
    <form asp-controller="CV" asp-action="UpdateEducation" method="post">

        <div class="form-group">
            <label>Skola </label>
            <input class="form-control" asp-for="Skola" type="text" required />
        </div>
        <div class="form-group">
            <label>Ämnesområde </label>
            <input class="form-control" asp-for="Ämnesområde" type="text" required />
        </div>
        <div class="form-group">
            <label>Startdatum </label>
            <input class="form-control" asp-for="StartDatumSkola" type="date" required />
        </div>
        <div class="form-group">
            <label>Slutdatum (eller förväntat) </label>
            <input class="form-control" asp-for="SlutDatumSkola" type="date" required />
        </div>

        <input type="hidden" name="id" value="@ViewData["CvID"]" />
        <div class="form-group">
            <input type="submit" value="Uppdatera" id="fortsättknapp" class="btn btn-primary" />
        </div>
    </form>

</div>




<style>
    #fortsättknapp {
        margin-top: 15px;
    }
</style>