@model DataLager.Models.Erfarenhet


<div class="container2">

    <h1>Erfarenhet</h1>

    <form id="experienceForm" asp-controller="CV" asp-action="AddToExperience" method="post">

        <div class="form-group">
            <label>Position </label>
            <input class="form-control" asp-for="Position" type="text" required/>
        </div>
        <div class="form-group">
            <label>Företagsnamn </label>
            <input class="form-control" asp-for="FöretagsNamn" type="text" required />
        </div>
        <div class="form-group">
            <label>Startdatum </label>
            <input class="form-control" asp-for="StartDatum" type="date" required />
        </div>
        <div class="form-group">
            <label>Slutdatum </label>
            <input class="form-control" asp-for="SlutDatum" type="date" required />
        </div>
        <div class="form-group">
            <label>Det här är min nuvarande roll!</label>
            <input class="form-check-input" asp-for="AktuellJobb" type="checkbox" />
        </div>



        <input type="hidden" name="cvId" value="@ViewData["CvId"]" />
        <input id="läggTillButton" type="submit" value="Lägg till ny" class="btn btn-primary" />

    </form>



    <div id="experienceTableSection">
        <table class="table">
            <thead>
                <tr>
                    <td>Position</td>
                    <td>FöretagsNamn</td>
                    <td>StartDatum</td>
                    <td>SlutDatum</td>
                    <td>AktuellJobb</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <button id="nextButton" class="btn btn-primary">Nästa Sida</button>


</div>



<style>
    #experienceForm {
        margin-bottom: 50px;
    }

    #nextButton {
        margin-top: 15px;
    }

    #läggTillButton {
        margin-top: 15px;
    }

</style>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function (data) {
                    $('#experienceTableSection tbody').html(data);
                    $('form')[0].reset();
                },
                error: function () {
                    console.error('Error submitting the form');
                }
            });
        });

        $('form').on('change', '[name=AktuellJobb]', function () {
            var isChecked = $(this).is(':checked');
            var slutDatumInput = $('[name=SlutDatum]');

            if (isChecked) {
                var startDatumValue = $('[name=StartDatum]').val();
                slutDatumInput.val(startDatumValue).prop('disabled', true);
            } else {
                slutDatumInput.prop('disabled', false);
            }
        });


        $('#nextButton').click(function () {
            var cvId = $('#CvId').val();
            window.location.href = '/CV/Skills?cvId=' + cvId;
        });
    });
    </script>