@model Core.Models.CV
<div class="container2">

    <h2>Byt profilbild</h2>
    <form id="pictureForm" asp-controller="CV" asp-action="UpdatePicture" method="post" enctype="multipart/form-data">
        <input asp-for="ImageFile" class="form-control" type="file" id="formFile" required>
        <input asp-for="id" type="hidden" value="@Model.id" />
        <input type="submit" class="btn btn-primary" value="Ändra" />
    </form>
</div>



