@{
    ViewData["Title"] = "Home Page";
    var hasExistingCV = ViewData["HasExistingCV"] as bool? ?? false;

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User Id : @ViewData["UserID"]</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>






@if (!hasExistingCV)
{
    <a asp-controller="CV" asp-action="ContactInfo" class="btn btn-primary" >Lägg till CV </a>
}

@if (hasExistingCV)
{
    <a asp-controller="CV" asp-action="View" class="btn btn-primary" asp-route-id="@ViewData["UserID"]">Visa CV </a>
}
